/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/**********Start Of FIX for DIALOG TITLE POSITION****************************
/*bootbox dialog titles were on the right. 
    Entry below fixes the issue and displays title on the right.*/
.bootbox .modal-header {
    display: block;
}
/**********End of FIX for DIALOG TITLE POSITION****************************/

/********************Start Of PRELOADER(LOADING SPINNER) MODAL****************************
    This preloader solution has been taken from: 
    https://stackoverflow.com/questions/1964839/how-can-i-create-a-please-wait-loading-animation-using-jquery?answertab=active#tab-top
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.preloaderModal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../loading-spinner.gif') 50% 50% no-repeat; /* You can download gif from https://icons8.com/preloaders/ */
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .preloaderModal {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .preloaderModal {
    display: block;
}
/********************End of PRELOADER MODAL****************************/

