@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">019 - .Net Core: Using Confirm Dialogs In Form Actions</h1>
    <p>
        A student data will be created after user confirmation in ASP.NET CORE Web Application.
    </p>
    <p>
        An ajax post function will be created in external js file to be able to use in project globally. This function will also display action responses in dialogs according to fail/success code.
    </p>
    <p>
        <strong>PS: Sample has been applied only for Create. Edit, Update, Delete gets error.</strong>
        Similar usage can be applied to update or delete actions with necessary code changes in controller and view pages.
    </p>
    <p>
        Implementation and descriptions of this sample application can be found in <a href="https://www.youtube.com/watch?v=iMtvys-6whU">Youtube video </a>.
    </p>
</div>
<div>
    <h2>Summary</h2>
    <pre>
        -- Display confirmation dialogs on button click
        -- Get user confirmation
        -- Validate form before posting ajax request
        -- Shared function for Ajax post request
        -- Shared function to display dialogs for Ajax response messages.
        -- Display preloader (loading spinners) during the request.
        -- Display answer messages in dialog.
        -- Redirect to url provided in ajax response.
    </pre>

    <h2>Highlighted Topics</h2>
    <pre>
        -- Using Bootbox to display dialog.
        -- External Js file to display messages and ajax calls.
        -- Displaying preloader (loading spinner) while waiting ajax response.
        -- Js/Css to automatically show/hide preloader
        -- Using Json in requests/responses
    </pre>
    <h2>Software</h2>
    <pre>
        OS: Windows 10
        IDE: Visual Studio Community Edition
        Browser: Firefox
        .NET Core v2.2
    </pre>

</div>
